* {
    margin: 0;
}

body {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.showCase {
    background-color: #E4F9F5;
    padding-top: 150px;
}

.topCloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottomCloud {
    position: absolute;
    left: 200px;
    top: 220px;
}

.mountain {
    margin-top: 20px;
}

#intro {
    font-family: 'Sacramento', cursive;
    font-size: 80px;
    margin-bottom: 25px;
}

h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

#intro,
.job {
    color: #67BFBF;
}

.job {
    font-size: 30px;
}

.profile img {
    width: 180px;
    margin-bottom: 28px;
}

.profile {
    padding: 70px 0;
}

.profile h2 {
    margin-bottom: 20px;
    font-size: 38px;
    color: #67BFBF;
}

.profile p {
    width: 40%;
    margin: 0 auto;
    line-height: 30px;
}

hr {
    width: 10%;
    margin: 0 auto;
    border: dotted 6px grey;
    border-bottom: 0;
}

.skills {
    padding: 70px 0;
}

.skills h2 {
    margin-bottom: 20px;
    font-size: 38px;
    color: #67BFBF;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
}

.skill-row h3 {
    color: #67BFBF;
    font-size: 26px;
    margin-bottom: 20px;
}

.skill-row p {
    line-height: 30px;
}

.skill-row img {
    width: 20%;
}

.skill-row .program {
    float: left;
    margin-right: 25px;
}

.skill-row .chili {
    float: right;
    margin-left: 25px;
}

.contact-me {
    padding: 70px 0;
}

.contact-me h2 {
    color: #67BFBF;
    font-size: 38px;
    margin-bottom: 35px;
}

.contact-me h3 {
    color: #67BFBF;
    font-size: 20px;
    margin-bottom: 25px;
}

.contact-me p {
    width: 40%;
    margin: 0 auto;
    line-height: 30px;
    margin-bottom: 50px;
}

.btn {
    background: #548f7e;
    background-image: -webkit-linear-gradient(top, #548f7e, #5cb8ac);
    background-image: -moz-linear-gradient(top, #548f7e, #5cb8ac);
    background-image: -ms-linear-gradient(top, #548f7e, #5cb8ac);
    background-image: -o-linear-gradient(top, #548f7e, #5cb8ac);
    background-image: linear-gradient(to bottom, #548f7e, #5cb8ac);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #48b535;
    background-image: -webkit-linear-gradient(top, #48b535, #55e055);
    background-image: -moz-linear-gradient(top, #48b535, #55e055);
    background-image: -ms-linear-gradient(top, #48b535, #55e055);
    background-image: -o-linear-gradient(top, #48b535, #55e055);
    background-image: linear-gradient(to bottom, #48b535, #55e055);
    text-decoration: none;
}

/* .footer {
    background-color: #67BFBF;
    padding: 40px 0;
}

.footer .footer-link {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.footer .footer-link:hover {
    color: white;
}

.footer p {
    font-size: 12px;
    margin-top: 20px;
} */

.footer {
    background-color: #67BFBF;
    padding: 40px 0;
}

.footer .footer-link {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.footer p {
    margin-top: 20px;
}

.footer a:hover {
    color: white;
}